body,html{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    gap: 300px;
    background-color: gainsboro;
}

nav{
    display: flex;
    gap: 20px;
}

header button{
    padding: 10px;
    font-size: 16px;
    background-color: #00f;
    color: white;
    border: none;
    cursor: pointer;
    left: 20px;
}

#audioToggle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('assets/icons/volume_off.svg'); /* Ícone inicial */
    background-size: cover;
}

#moveSystem {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

#resetButton{
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
}

#toggleMovement{
    position: absolute;
    bottom: 10px;
    right: 40%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: none;
}



a{
    text-decoration: none;
    color: #00f;
}