body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#toggleButton, #toggleButtonGrid , #toggleBackground {
    position: absolute;
    padding: 10px;
    font-size: 16px;
    background-color: #00f;
    color: white;
    border: none;
    cursor: pointer;
    left: 20px;
}

#toggleButton{
    top: 50px;
}
#toggleBackground {
    top: 100px;
}
#toggleButtonGrid{
    top: 150px;
}

#audioToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('assets/icons/volume_up.svg'); /* Ícone inicial */
    background-size: cover;
}